<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.weimu.www">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppImmersionTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SwitchColorBarActivity" />
        <activity android:name=".ui.StockChartActivity" />
        <activity android:name=".ui.WaveActivity" />
        <activity android:name=".ui.FanbarActivity" />
        <activity android:name=".ui.IndexChartActivity" />
        <activity android:name=".ui.CircleProgressBarActivity" />
        <activity android:name=".ui.TextViewWithBorderActivity" />
        <activity android:name=".TestAreaActivity" />
        <activity android:name=".ui.ProgresButtonActivity" />
        <activity android:name=".ui.GranuleGridActivity" />
        <activity android:name=".ui.ArcActivity" />
        <activity android:name=".ui.HotTagActivity" />
        <activity android:name=".ui.BgViewActivity"></activity>
    </application>

</manifest>